.img {
    border-radius: 10px;
    margin: 10px;
}
.main {
    display: flex;
    background: black;
    align-items: center;
    flex-wrap: wrap;
}
.pages {
    display: flex;
    justify-content: space-between;
}
.page {
    border-radius: 10px;
    margin: 10px;
    padding: 30px 140px;
    color: red;
    background: pink;
    font-size: 50px;
    justify-content: space-between;
}
.texts {
    display: flex;
}
.text {
    color: black;
    background: orange;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    width: 400px;
    height: 250px;
}

/* Home */

.main1 {
    background: black;
    display: flex;
}
.logo {
    border-radius: 10px;
    margin: 15px;
}
.home {
    color: red;
    background: pink;
    border-radius: 10px;
    margin: 15px;
    padding: 30px 100px 30px 150px;
    font-size: 70px;
}
.second {
    color: black;
    background: orange;
    padding: 20px;
    font-size: 25px;
    margin: 10px;
    border-radius: 10px;

}
.link {
text-decoration: none;
color: black;

}